.categories-title {
  margin: 20px;
  color: #454545;
  font-size: 18px;
}

.categories-item {
  padding: 0 12px;
  margin-bottom: 5px;
  margin-inline-end: 8px;
  border: 1px solid #454545;
  cursor: pointer;
  color: #454545;
  height: 24px;
  display: inline-block;
  outline: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  white-space: nowrap;
  border-radius: 24px;
  vertical-align: top;
}

.active {
  background-color: #454545;
  color: #ffffff;
}
